<div class="card">
  <div class="header">
    <h2 class="title">Flight Edit Form</h2>
  </div>

  <div class="content">
    <form [formGroup]="editForm">
      <ng-container *ngFor="let control of controls">
        <div class="form-group">
          <label>{{ control.label }}:</label>
          <input class="form-control"
                 [formControlName]="control.field"
                 [readonly]="control.field === 'id' ? 'readonly' : null">
        </div>

        <flight-validation-errors *ngIf="!editForm?.controls[control.field]?.untouched"
                                  [errors]="editForm?.controls[control.field]?.errors">
        </flight-validation-errors>
      </ng-container>

      <div class="text-danger" *ngIf="editForm?.hasError('roundTrip')">
        Round trips are not allowed.<br/><br/>
      </div>

      <div class="form-group">
        <button (click)="save()" class="btn btn-default">Save</button>
      </div>
    </form>
  </div>
</div>
